body{
  background-color: black;
}

.h2{
  color:white;
  text-align:center;
}

.aboutme{
	text-align: center;
	color:white;
	background-color: black;
  border: 5px solid red;
	}
  .div1 {
    border-style: solid;
    border-width: 5px;
    padding: 30px;
  }
   
  .container{
    border-color: blue;
    padding-left: 50px;
    height: 300px;

    
  }
  .row{
    border-color: red;
  }
	
 /* // Animate all the things*/  
*  
  transition: all ease-in-out .4s
  -webkit-transition: all ease-in-out .4s

/*// Hamburger styles */   
.nav-tab
  width: 30px
  height: 40px
  a
    cursor: pointer
    display: block
    height: 100%
    width: 100%
  span
    background: #e1e7f4
    display: block
    width: 30px
    height: 4px
    margin-bottom: 3px
/*  // Hamburger animate on hover
*/  &:hover
    span
      &.first-child
        width: 26px
      &.second-child
        width: 18px
      &.third-child
        width: 22px
      &.fourth-child
        width: 24px
 
/*// Click to open
*/body.open .nav-tab
  span
    &.first-child
      width: 30px
      margin-top: 11px
      transform: rotate(-45deg)
      -webkit-transform: rotate(-45deg)
    &.second-child
      width: 0px
      opacity: 0
    &.third-child
      width: 0px
      opacity: 0
    &.fourth-child
      width: 30px
      margin-top: -21px
      transform: rotate(45deg)
      -webkit-transform: rotate(45deg)        
        
/*// Background
*/body
  height: 100%
  width: 100%
  background-color: #3f404f
  
/*// Position nav-tab
*/.nav-tab
  position: absolute
  left: 50%
  margin-left: -20px
  top: 50%
  margin-top: -15px

@base-grey: #333;



body {
  margin: 0;
  background-color: @base-grey;
  padding-top: 6rem;
  font-family: roboto;
}

a {
  text-decoration: none;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.buttons {
  text-align: center;
  font-size:15px;
}

// Button frame
.btn {
  padding: .875rem 1.2rem;
  background-color: transparent;
  border: 1px solid transparent;
  display: inline-block;
  outline: 0;
  color: white;
  cursor: pointer;
  font-size: 1rem;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 6px;
  -webkit-box-shadow: rgba(0,0,0,.4);
  margin: 0 auto;
  float: none;
}
    // Assign brand colors
    .btn.instagram {
      background-color: blue;
      border-color: ;
    }

    .btn.google-plus {
      background-color: red;
      border-color: red;
    }

    .btn.linkedin {
      background-color: blue;
      border-color: blue;
    }

    .btn.github {
      background-color: gray;
    border-color: gray;
    }

    .btn.facebook {
      background-color: blue;
      border-color: blue;
    }

button span,
span {
  top: 0px;
  position: relative;
  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

    button:hover span.label,
    a.btn:hover span.label {
      top: -40px;
      transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
    }

// Override inline-block from original
.fa {
  position: absolute;
}


.fa.fa-google-plus:before,
.fa.fa-instagram:before,
.fa.fa-linkedin:before,
.fa.fa-github:before,
.fa.fa-facebook:before {
  top: 100px;
  left: -50%;
  text-align: center;
  position: relative;
  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}

button:hover .fa.fa-google-plus:before,
button:hover .fa.fa-instagram:before,
a.btn:hover .fa.fa-google-plus:before, 
a.btn:hover .fa.fa-twitter:before,
a.btn:hover .fa.fa-linkedin:before,
a.btn:hover .fa.fa-github:before,
a.btn:hover .fa.fa-facebook:before {
  top: 1rem;
  left: -50%;
  transition: 350ms cubic-bezier(0.175, 0.885, 0.32, 1.275) all;
}
/*background picture*/
.wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
  background-color: #333;
}

.wrapper {
  width: 490px;
  height: 450px;
}

.container {
  width: 600px;
  font-size: 0px;
}

.cube {
  width: 50px;
  height: 50px;
  transform-style: preserve-3d;
  perspective: 9000px;
  display: inline-block;
  /* 
    // In case need to add txt inside cube faces
    text-align: center;
    line-height: $side;
    font-weight: 300;
    color:rgba(255,255,255,0.5);
    font-size: $side/1.2;
    padding: 0;
  */
  margin-left: 20px;
  margin-top: 10px;
  transform: rotateX(-25deg) rotateY(45deg) rotateZ(0deg);
  animation: rot 7s infinite ease-in-out;
}
.container:nth-child(even) .cube:first-child {
  margin-left: -15px;
}
.container:nth-child(even) .cube:nth-of-type(4), .container:nth-child(even) .cube:nth-of-type(5) {
  animation-delay: 0s;
  opacity: .2;
}
.container:nth-child(even) .cube:nth-of-type(3), .container:nth-child(even) .cube:nth-of-type(6) {
  animation-delay: 0.1s;
  opacity: .4;
}
.container:nth-child(even) .cube:nth-of-type(2), .container:nth-child(even) .cube:nth-of-type(7) {
  animation-delay: 0.2s;
  opacity: .6;
}
.container:nth-child(even) .cube:nth-of-type(1), .container:nth-child(even) .cube:nth-of-type(8) {
  animation-delay: 0.3s;
  opacity: .8;
}
.container:nth-child(odd) .cube:nth-of-type(4) {
  animation-delay: 0s;
  opacity: .2;
}
.container:nth-child(odd) .cube:nth-of-type(3), .container:nth-child(odd) .cube:nth-of-type(5) {
  animation-delay: 0.1s;
  opacity: .4;
}
.container:nth-child(odd) .cube:nth-of-type(2), .container:nth-child(odd) .cube:nth-of-type(6) {
  animation-delay: 0.2s;
  opacity: .6;
}
.container:nth-child(odd) .cube:nth-of-type(1), .container:nth-child(odd) .cube:nth-of-type(7) {
  animation-delay: 0.3s;
  opacity: .8;
}

.side {
  width: inherit;
  height: inherit;
  position: absolute;
  backface-visibility: hidden;
}
.side:nth-child(1) {
  background-color: #007bbe;
}
.side:nth-child(2) {
  background-color: #0075b4;
}
.side:nth-child(3) {
  background-color: #006eaa;
}
.side:nth-child(4) {
  background-color: #0068a0;
}
.side:nth-child(5) {
  background-color: #006196;
}
.side:nth-child(6) {
  background-color: #005b8c;
}

.front {
  transform: translate3d(0, 0, 25px);
}

.back {
  transform: rotateY(180deg) translate3d(0, 0, 25px);
}

.left {
  transform: rotateY(-90deg) translate3d(0, 0, 25px);
}

.right {
  transform: rotateY(90deg) translate3d(0, 0, 25px);
}

.top {
  transform: rotateX(90deg) translate3d(0, 0, 25px);
}

.bottom {
  transform: rotateX(-90deg) translate3d(0, 0, 25px);
}

@keyframes rot {
  10%, 15% {
    transform: rotateX(-25deg) rotateY(45deg) rotateZ(90deg);
  }
  25%,30% {
    transform: rotateX(-25deg) rotateY(45deg) rotateZ(90deg) rotateY(90deg);
  }
  40%,45% {
    transform: rotateX(-25deg) rotateY(45deg) rotateZ(90deg) rotateY(90deg) rotateX(-90deg);
  }
  55%, 60% {
    transform: rotateX(-25deg) rotateY(45deg) rotateZ(90deg) rotateY(90deg) rotateX(-90deg) rotateY(90deg);
  }
  70%, 75% {
    transform: rotateX(-25deg) rotateY(45deg) rotateZ(90deg) rotateY(90deg) rotateX(-90deg) rotateY(90deg) rotateX(-90deg);
  }
  85% {
    transform: rotateX(-25deg) rotateY(45deg) rotateZ(0deg);
  }
}
/*hamburger*/
/*[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

html {
  min-height: 100%;
  min-width: 100%;
}
html body {
  min-height: 100%;
  min-width: 100%;
  font-family: 'Lato', sans-serif;
}
html body input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  display: none;
}
html body input[type="checkbox"]:checked ~ .menu nav a {
  -webkit-transform: translate3d(0px, 0, 0) rotateY(0deg);
  transform: translate3d(0px, 0, 0) rotateY(0deg);
  -webkite-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  background: #252525;
  color: #fff;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(2) {
  -webkit-transition-delay: .1s;
  transition-delay: .1s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(3) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(4) {
  -webkit-transition-delay: .3s;
  transition-delay: 0.3s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(5) {
  -webkit-transition-delay: .4s;
  transition-delay: .4s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(6) {
  -webkit-transition-delay: .5s;
  transition-delay: 0.5s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(7) {
  -webkit-transition-delay: .6s;
  transition-delay: 0.6s;
}
html body input[type="checkbox"]:checked ~ .menu nav a:nth-child(8) {
  -webkit-transition-delay: .7s;
  transition-delay: 0.7s;
}
html body section.menu {
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  min-height: 100%;
}
html body section.menu nav {
  padding-top: 4rem;
  -webkit-perspective: 20rem;
  perspective: 20rem;
}
html body section.menu nav a {
  display: block;
  width: 12rem;
  padding: 1.25rem 0rem 1.25rem 1.75rem;
  background: #222;
  border-bottom: 1px solid #2a2a2a;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.15), inset 2px 0 0 #fff;
  color: #fff;
  letter-spacing: 1.5px;
  font-weight: 300;
  font-size: 1.25rem;
  text-decoration: none;
  -webkit-transform: translate3d(-100%, 0, 0) rotateY(90deg);
  transform: translate3d(-100%, 0, 0) rotateY(90deg);
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}
html body section.menu nav a:nth-child(1) {
  -webkit-transition-delay: .235s;
  transition-delay: .235s;
}
html body section.menu nav a:nth-child(2) {
  -webkit-transition-delay: .2s;
  transition-delay: .2s;
}
html body section.menu nav a:nth-child(3) {
  -webkit-transition-delay: .165s;
  transition-delay: .165s;
}
html body section.menu nav a:nth-child(4) {
  -webkit-transition-delay: .13s;
  transition-delay: .13s;
}
html body section.menu nav a:nth-child(5) {
  -webkit-transition-delay: .095s;
  transition-delay: .095s;
}
html body section.menu nav a:nth-child(6) {
  -webkit-transition-delay: .06s;
  transition-delay: .06s;
}
html body section.menu nav a:nth-child(7) {
  -webkit-transition-delay: .25s;
  transition-delay: .025s;
}
html body section.content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  min-height: 100%;
  min-width: 100%;
  display: table;
  background: #e23d3d;
}
html body section.content label {
  position: fixed;
  z-index: 1000;
  padding: 1rem 1.5rem;
  background: #222;
  font-size: 2rem;
  line-height: 2rem;
  color: #fff;
  cursor: pointer;
}
html body section.content h1 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  font-size: 3rem;
  letter-spacing: 1px;
  color: #fff;
}
*/