body{
    font-family: 'Muli', 'Century Gothic', 'sans-serif';
    font-size:100%;
    margin:0;
    padding:0;
    border:0;
    display:block;
    color:white;
    background-color:darkslategray;

}

body { 
  background-color:324252;
  background: url(http://38.media.tumblr.com/4e9d8c075b15f5922682bfaa13a8125c/tumblr_n7yhezarqF1st5lhmo1_1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



.menu-filler{
    width:100%;
    height:100px;
}

.content-box-1{
    text-align: center;
    background-color:azure;
    color:black;
    width:80%;
    font-size: 1.2em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
}

@media all and (min-width: 761px) {
    .visual{
        width: 100%;
        height:600px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:320px;
    }
    
    h1{
        font-size:4.1em;
        letter-spacing:11px;
        line-height:0;
    }
    h2{
        font-size:1.55em;
        letter-spacing:4px;
        font-weight:300;
        line-height:0;
    }   
    .content-box-1{
    font-size: 1.6em;
    height: 500px;
    }
}
@media all and (max-width: 760px) {
    .visual{
        width: 100%;
        height:500px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:250px;
    }
    
    h1{
        font-size:3.4em;
        letter-spacing:9px;
        line-height:0;
    }
    h2{
        font-size:1.3em;
        letter-spacing:3px;
        font-weight:300;
        line-height:0;
    }
}
@media all and (max-width: 480px){
    .visual{
        width: 100%;
        height:400px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:170px;
    }

    h1{
        font-size:2.4em;
        letter-spacing:6px;
        line-height:0;
    }
    h2{
        font-size:.95em;
        letter-spacing:2px;
        font-weight:300;
        line-height:0;
    }

}

.content-box-2{
    background-color:darkslategray;
    width:100%;
    height:600px;
}
.content-box-3{
    background-color:crimson;
    width:100%;
    height:600px;
}
.content-box-4{
    background-color:lightslategray;
    width:100%;
    height:600px;
}
.mobile-header, .header{
      top:0;
      background: black;
      padding: 5px 0;
      text-align: right;
      color: white;
      text-shadow: #222 0 -1px 1px;
      position: fixed;
      width: 100%;
      height: 50px;
      left: 0;
      transition: all 0.3s ease;
      opacity:0.75;
      -moz-box-shadow:     0 0 8px #000000;
      -webkit-box-shadow:  0 0 8px #000000;
      box-shadow:          0 0 8px #000000;
}
ul{
    list-style-type:none;
    padding:0;
}
a {
    text-decoration: none;
}
nav a:active {
  position: relative;
  top: 1px;
}

.nav-logo{
    margin:11px;
    position:fixed;
    color:white;
    font-size: 1.9em;
}
.nav-logo:hover{
    opacity:0.9;
}

.header:hover, .header:target, .header:focus,
.mobile-header:hover, .mobile-header:target, .mobile-header:focus{
    opacity:0.8;
}

        

@media all and (min-width: 761px){
        .open-menu{
            display:none;
        }
        .close-menu{
            display:none;
        }
        .mobile-header{
            display:none;
        }
        nav ul{
            top:5px;
            position:fixed;
            right:0;
            
        }
        nav ul li{
            display:inline-block;
        }
        nav ul li a{
            color:white;
            padding: 20px 20px 17px;
        }
        nav ul li a:hover{
            background-color:#EFE93D;
        }
    
    }
    
@media all and (max-width: 760px){
        .header{
            display:none;
        }        

        .mobile-header a {
          position: absolute;
          right: 0;
          top: 0;
          padding: 15px 15px 0 0;
        }
        .mobile-header a:hover{
           -webkit-stroke-width: 5.3px;
           -webkit-stroke-color: #FFFFFF;
           -webkit-fill-color: #FFFFFF;
           text-shadow: 0 0 3px white;
           -webkit-transition: width 0.3s; /*Safari & Chrome*/
           transition: width 0.3s;
           -moz-transition: width 0.3s; /* Firefox 4 */
           -o-transition: width 0.3s; /* Opera */
        }
        
        .page-wrap {
          float: right;
          width: 100%;
          transition: width 0.5s ease;
        }
        
        .main-nav {
          position: fixed;
          top: 0;
          right:0;
          width: 0;
          height: 100%;
          background: #3B3B3B;
          overflow-y: auto;
          transition: width 0.3s ease;
          -moz-box-shadow:    inset 0 0 10px #000000;
          -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow:         inset 0 0 10px #000000;
          opacity: 0.9;
        }

        nav ul li a {
          display: block;
          border-top: 1px solid #484848;
          border-bottom: 1px solid #2E2E2E;
          color: white;
          padding: 15px;
          font-size: .8em;
        }
        .main-nav ul li a:hover, .main-nav a:focus {
            background:#EFE93D;
            opacity:.8;
        }
        
        .close-menu {
          display: none;
        }
        .open-menu {

            width: 35px;
            height:25px;
        }

        #main-nav:target {
          right:0;
          width: 30%;
        }
        
        #main-nav:target + .page-wrap {
          width: 70%;
        }
        #main-nav:target + .page-wrap .open-menu {
          display: none;
        }
        #main-nav:target + .page-wrap .close-menu {
          display: block;
          width: 100%;
          height: 3000px;
        }
        
        #main-nav:target + .page-wrap .mobile-header {
          width: 70%;
          right: 30%;
        }
    }

 
    
    /*hamburger*/
    *,
* {
  margin: 0;
  padding: 0;
}

nav input {
  display: none;
}
nav label {
  position: absolute;
  top: 50px;
  right: 10px;
  top: 10px;
  z-index: 999;
  cursor: pointer;
}
nav label strong {
  padding: 0 10px;
  width: 40px;
  height: 40px;
  line-height: 40px!important;
  font: 700 14px Lato, helvetica, sans-serif;
  color: #fff;
  text-transform: uppercase;
  position: absolute;
  right: 40px;
  top: 0px;
  transition: color 250ms ease;
}
nav label b {
  width: 40px;
  height: 40px;
  display: block;
  position: relative;
  right: 0;
  top: 0;
  cursor: pointer;
  transition: background 500ms ease;
}
nav label b i {
  display: block;
  background: #fff;
  width: 24px;
  height: 4px;
  position: absolute;
  left: 8px;
  top: 11px;
  border-radius: 1000px;
  transform-origin: 20px 4px;
  transition: transform 300ms cubic-bezier(0.09, 0.92, 0, 1.435), opacity 500ms ease;
}
nav label b i:nth-child(2) {
  top: 18px;
}
nav label b i:nth-child(3) {
  transform-origin: 26px 4px;
  top: 25px;
}
nav menu {
  background: #484b4b;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 300ms ease;
  position: fixed;
  z-index: 998;
  top: 0;
}
nav menu li {
  margin: 0;
  list-style: none;
  width: 100%;
}
nav menu li:first-child {
  margin-top: 60px;
}
nav menu li:first-child a {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
nav menu li a {
  padding: 20px 0;
  font: 100 18px Lato, helvetica, sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #fff;
  display: block;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid;
}
nav menu li a:hover {
  background: rgba(0, 0, 0, 0.1);
}
nav #nav:checked ~ label strong {
  color: rgba(255, 255, 255, 0.25);
}
nav #nav:checked ~ label b {
  transition-delay: 100ms;
}
nav #nav:checked ~ label b i:nth-child(1) {
  transform: rotate(45deg) translate(6px, 11px);
}
nav #nav:checked ~ label b i:nth-child(2) {
  opacity: 0;
}
nav #nav:checked ~ label b i:nth-child(3) {
  transform: rotate(-45deg) translate(10px, -14px);
}
nav #nav:checked ~ menu {
  opacity: 1;
}

    /*nav bar animation*/
    body, .header, {
  margin: 0;
  padding: 0;
}



.ul1 {
  height: 50px;
  width: 100%;
  margin: 0;
  padding:0;
}

.a1 {
  text-decoration: none;
  color: #fff;
  margin:0;
  padding:0;
}

.li1 {
  height: 75px;
  width: 100%;
  font: 1em/1em 'Advent Pro';
  background: #292929;
  line-height: 75px;
  text-align: center;
  color: #fff;
  transition: width .8s;
  margin:0;
  padding:0;
}

li:hover {
  width: 250px;
  border-right: 7px solid #FF4443;
  text-shadow: 0 0 5px;
}

@media (max-width: 600px) {
  .li2 {
    width: 100%;
    height: 75px;
    margin:0;
    padding:0;
  }

  li:hover {
    
    width: 100%;
  }

  .media {
    height: 74px;
    border-bottom: solid 1px #ccc;
  }
}

