body{
    font-family: 'Muli', 'Century Gothic', 'sans-serif';
    font-size:100%;
    margin:0;
    padding:0;
    border:0;
    display:block;
    color:white;
    background-color:darkslategray;

}

body { 
  background-color:324252;
  background: url(http://38.media.tumblr.com/4e9d8c075b15f5922682bfaa13a8125c/tumblr_n7yhezarqF1st5lhmo1_1280.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.projectbox{
   margin:0;
}
.musicbox{
  margin:0;
}
.h1{
  color:black;
}
#aboutmebox{
    text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    font-size: 1.2em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
    font-size: 1.6em;
    height: 500px;
}
#projectbox{
    text-align: center;
    background-color:black;
    color:white;
    width:100%;
    font-size: 1.2em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
    height:500px;

}
#musicbox{
    text-align: center;
    background-color:azure;
    color:black;
    width:100%;
    font-size: 1.2em;
    box-shadow: 0 -1px 5px 0 rgba(0,0,0,0.5);
    padding:35px 10% 35px 10%;
    height:500px;

}
.text{
  font-size: 14px;
  
}

@media all and (min-width: 761px) {
    .visual{
        width: 100%;
        height:600px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:320px;
    }
    
    .h1{
        font-size:4.1em;
        letter-spacing:11px;
        line-height:0;
    }
    .h2{
        font-size:1.55em;
        letter-spacing:4px;
        font-weight:300;
        line-height:0;
    }   
}
@media all and (max-width: 760px) {
    .visual{
        width: 100%;
        height:500px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:250px;
    }
    
    .h1{
        font-size:3.4em;
        letter-spacing:9px;
        line-height:0;

    }
    .h2{
        font-size:1.3em;
        letter-spacing:3px;
        font-weight:300;
        line-height:0;
    }
}
@media all and (max-width: 480px){
    .visual{
        width: 100%;
        height:400px;
        text-align: center;
    }
    .logomark{
        margin-top:30px;
        height:170px;
    }

    .h1{
        font-size:2.4em;
        letter-spacing:6px;
        line-height:0;
    }
    .h2{
        font-size:.95em;
        letter-spacing:2px;
        font-weight:300;
        line-height:0;
    }

}


.mobile-header, .header{
      top:0;
      background: black;
      padding: 5px 0;
      text-align: right;
      color: white;
      text-shadow: #222 0 -1px 1px;
      position: fixed;
      width: 100%;
      height: 50px;
      left: 0;
      transition: all 0.3s ease;
      opacity:0.75;
      -moz-box-shadow:     0 0 8px #000000;
      -webkit-box-shadow:  0 0 8px #000000;
      box-shadow:          0 0 8px #000000;
}
ul{
    list-style-type:none;
    padding:0;
}
a {
    text-decoration: none;
}
nav a:active {
  position: relative;
  top: 1px;
}

.nav-logo{
    margin:11px;
    position:fixed;
    color:white;
    font-size: 1.9em;
}
.nav-logo:hover{
    opacity:0.9;
}

.header:hover, .header:target, .header:focus,
.mobile-header:hover, .mobile-header:target, .mobile-header:focus{
    opacity:0.8;
}

        

@media all and (min-width: 761px){
        .open-menu{
            display:none;
        }
        .close-menu{
            display:none;
        }
        .mobile-header{
            display:none;
        }
        nav ul{
            top:5px;
            position:fixed;
            right:0;
            
        }
        nav ul li{
            display:inline-block;
        }
        nav ul li a{
            color:white;
            padding: 20px 20px 17px;
        }
        nav ul li a:hover{
            background-color:#EFE93D;
        }
    
    }
    
@media all and (max-width: 760px){
        .header{
            display:none;
        }        

        .mobile-header a {
          position: absolute;
          right: 0;
          top: 0;
          padding: 15px 15px 0 0;
        }
        .mobile-header a:hover{
           -webkit-stroke-width: 5.3px;
           -webkit-stroke-color: #FFFFFF;
           -webkit-fill-color: #FFFFFF;
           text-shadow: 0 0 3px white;
           -webkit-transition: width 0.3s; /*Safari & Chrome*/
           transition: width 0.3s;
        }
        
        .page-wrap {
          float: right;
          width: 100%;
          transition: width 0.5s ease;
        }
        
        .main-nav {
          position: fixed;
          top: 0;
          right:0;
          width: 0;
          height: 100%;
          background: #3B3B3B;
          overflow-y: auto;
          transition: width 0.3s ease;
          -moz-box-shadow:    inset 0 0 10px #000000;
          -webkit-box-shadow: inset 0 0 10px #000000;
          box-shadow:         inset 0 0 10px #000000;
          opacity: 0.9;
        }

        nav ul li a {
          display: block;
          border-top: 1px solid #484848;
          border-bottom: 1px solid #2E2E2E;
          color: white;
          padding: 15px;
          font-size: .8em;
        }
        .main-nav ul li a:hover, .main-nav a:focus {
            background:#EFE93D;
            opacity:.8;
        }
        
        .close-menu {
          display: none;
        }
        .open-menu {

            width: 35px;
            height:25px;
        }

        #main-nav:target {
          right:0;
          width: 30%;
        }
        
        #main-nav:target + .page-wrap {
          width: 70%;
        }
        #main-nav:target + .page-wrap .open-menu {
          display: none;
        }
        #main-nav:target + .page-wrap .close-menu {
          display: block;
          width: 100%;
          height: 3000px;
        }
        
        #main-nav:target + .page-wrap .mobile-header {
          width: 70%;
          right: 30%;
        }
    }

 
    
   